**/gcloud.json
**/.gitignore
**/.pytest_cache

cmd/tmp
/tmp
/app/tmp
*/**/*un~
*/**/*.test
*/**/temp.js
.DS_Store
*/**/.DS_Store
/build

.#*
*#
*~
.project
.settings
.idea
.vagrant

/go-spacemesh
/go-hare
/cp.out
/cover.out
/cover-all.out
*/**/cover.out
gcloud.json
spacemesh.json
**/pb/*.pb.go
**/pb/*.pb.gw.go
**/pb/*.swagger.json
database/data
app/state
*.pyc
