# See http://help.github.com/ignore-files/ for more about ignoring files.

cmd/tmp
/tmp
*/**/*un~
*/**/*.test
*/**/temp.js
.DS_Store
*/**/.DS_Store
/build
libgpu-setup-*

.project
.settings
.idea
.vagrant

/go-spacemesh
/go-hare
/cp.out
/cover.out
/cover-all.out
*/**/cover.out
gcloud.json
spacemesh.json
database/data
*.pyc
/devtools
.python-version
