# See http://help.github.com/ignore-files/ for more about ignoring files.

/tmp
*/**/*un~
*/**/*.test
.DS_Store
*/**/.DS_Store
/build

#*
.#*
*#
*~
.project
.settings
.idea

go-spacemesh
cp.out
cover.out
