# See http://help.github.com/ignore-files/ for more about ignoring files.

cmd/tmp
/tmp
*un~
*.test
temp.js
.DS_Store
*.log
/build
/bin

.project
.settings
.idea
.vscode
.vagrant

*.out
*.test
*.zip

/go-spacemesh
/go-hare
/cp.out
/cover-all.out
/trace
cover.out
coverage.html
gcloud.json
spacemesh.json
database/data
*.pyc
/devtools
.python-version

vendor/*
systest/vendor/*
.run/*