language: go
go: 1.9.x

branches:
    only:
        - master
        - develop
jobs:
    include:
        - stage: lint
          script:
              - ./ci/validate-gofmt.sh
              - mkdir -p $GOPATH/src/golang.org/x
              - git clone https://github.com/golang/lint.git $GOPATH/src/golang.org/x/lint
              - go get -u golang.org/x/lint/golint
              - ./ci/validate-lint.sh
        - stage: test
          script: go test -p 1 github.com/spacemeshos/go-spacemesh/...
