language: go
go: 1.9.x

branches:
    only:
        - master
        - develop
jobs:
    include:
        - stage: lint
          script:
            - make devtools
            - make lint
        - stage: test
          script:
            - make devtools
            - make test
