# Template for Systest RBAC objects
# Uses gomplate syntax (see https://gomplate.ca)
# Usage:
# testid=<> job_name=<> image=<> command=<> gomplate --file systest_rbac.yml.tmpl -o systest_rbac.yml
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Env.job_name }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ .Env.job_name }}
rules:
- apiGroups: [""]
  resources: ["services","namespaces","configmaps","pods"]
  verbs: ["get","create","patch","update","list","watch","delete"]
- apiGroups: ["apps"]
  resources: ["deployments"]
  verbs: ["get","create","patch","update","list","watch"]
- apiGroups: ["chaos-mesh.org"]
  resources: ["networkchaos", "timechaos", "schedule"]
  verbs: ["get","create","patch","update","list","watch","delete"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ .Env.job_name }}
subjects:
- kind: ServiceAccount
  name: {{ .Env.job_name }}
  namespace: {{ .Env.ns }}
roleRef:
  kind: ClusterRole
  name: {{ .Env.job_name }}
  apiGroup: rbac.authorization.k8s.io
