name: Code Coverage

env:
  go-version: "1.19"

on:
  # Allow manually triggering this workflow
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - develop

jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
      - name: disable TCP/UDP offload
        run: |
          sudo ethtool -K eth0 tx off
          sudo ethtool -K eth0 rx off
      - uses: actions/checkout@v3
      - name: set up go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ env.go-version }}
      - name: setup env
        run: make install
      - name: test coverage
        run: make cover
      - name: Upload to codecov.io
        uses: codecov/codecov-action@v3
        with:
          fail_ci_if_error: true
